@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
  --interactHover: #A155B9;
  --highlight: #F765A3;
  --blue: rgb(3 105 161 / 1);
  --purple: #A155B9;
  --pink: #F765A3;
  --white: #DEDEDE;
  background-color: #202020;
}

html{
  background-color: #202020;
}

body{
  background-color: #202020;
  color: #DEDEDE;
}
